*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body{ width: 100%; padding: 0; margin: 0; }

html{
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body{
    min-height: 100%;
    min-width: 320px;
    font: normal normal 14px/16px @scada;
    background: #ffffff;
    position: relative;
    color: @color-text;
}
a, a:visited {
    color: @color-link;
}
a:visited {
    color: @color-link-visited;
}
a:hover {
    color: @color-link-active;
}
.clearfix{
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.justify-block {
	text-align: justify !important;
	text-align-last: justify !important;
}
.justify-block-after {
	width: 100%;
	height: 0px;
	line-height: 1px;
	overflow: hidden;
	content: '';
	display: inline-block;
	font-size: 1px;
	margin-bottom: -1em;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%; height: 100%;
    overflow: hidden;
}
.container-fluid {
}
.place {
    position: relative;
    min-height: 400px;
    z-index: 5;
    font: normal normal 16px/1.2em @scada;
}
.on-top {
    border-radius: (50%);
    border: 2px solid @color-link-active;
    position: absolute;
    top: 80%;
    height: 45px;
    width: 45px;
    position: fixed;
    right: 15px;
    display: none;
    background: rgba(255,255,255,.5);
    z-index: 9000;
}
.on-top:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 5px;
    left: 11px;
    border-bottom: 10px solid @color-link-active;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.on-top:hover,
.on-top:hover:after {
    opacity: .5;
}
#home_page .place {
    padding-top: 0;
}
#home_page .place:before {
    content: '';
    position: absolute;
    top: 255px;
    left: 50%;
    margin-left: -940px;
    width: 228px;
    height: 566px;
    background: url('@{images}/bg-left.jpg') 0 0 no-repeat;
}
#home_page .place:after {
    content: '';
    position: absolute;
    bottom: 50px;
    right: 50%;
    margin-right: -960px;
    width: 213px;
    height: 291px;
    background: url('@{images}/bg-right.jpg') 0 0 no-repeat;
}
#home_page .place .content-width {
    padding-left: 15px;
    padding-right: 15px;
}
.content-width {
    margin: 0 auto;
    max-width: 1000px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: @screen-xs-min) {
    .content-width {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (min-width: @screen-sm-min) {
    .place {
        padding-top: 115px;
    }
}
@media (min-width: @screen-md-min) {
    .content-width {
        &:not(.m--webinar_page) {
            padding-left: 30%;
            padding-right: 15px;
        }
    }
}
@media (min-width: @screen-nm-min) {
    .content-width {
        &:not(.m--webinar_page) {
            padding-left: 20%;
            padding-right: 15px;
        }
    }
}
@media (min-width: @screen-lg-min) {
    .content-width {
        &:not(.m--webinar_page) {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.hidden-xs {
    @media (max-width: @screen-xs-max) {
        display: none !important;
    }
}
.hidden-sm {
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        display: none !important;
    }
}
.hidden-md {
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        display: none !important;
    }
}
.hidden-nm {
    @media (min-width: @screen-nm-min) and (max-width: @screen-nm-max) {
        display: none !important;
    }
}
.hidden-lg {
    @media (min-width: @screen-lg-min) {
        display: none !important;
    }
}