// @import "vars.less";

/* ---- TEXT STYLES ---- */

h1, .h1 {
    font-size: 30px;
    line-height: 1em;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #393939;
    font-family: @ptsansnarrow;
}

h2, .h2 {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3f3f3f;
    font-family: @ptsansnarrow;
}

h2:first-child, .h2:first-child {
    margin-top: 0;
}


h1+h2, h2+h3, h3+h4 {
    margin-top: 0;
}

h3, .h3 {
    font-size: 20px;
    line-height: 22px;
    margin: 0 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #3f3f3f;
    font-family: @ptsansnarrow;
}

h4, .h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
    margin: 0 0 8px;
    text-transform: uppercase;
    color: #000000;
    font-family: @ptsansnarrow;
}

h5, h6, .h5, .h6 {
    font-weight: normal;
    font-size: 1em;
    color: #000000;
    font-family: @ptsansnarrow;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    a {
        color: inherit;
        text-decoration: none;
    }
}

.content,
.content-main {
    font-size: 16px;
    line-height: 1.2em;
    color: #000000;

    ul, ol {
        list-style-position: outside;
        li{
            margin-bottom: 6px;
        }
    }

    p, ol, ul{
        margin-bottom: 15px;
        margin-top: 8px;
    }

    ul{
        list-style: disc;
        li{
            position: relative;
            margin-left: 1.2em;
        }

        ul {
            margin-bottom: 0;
            list-style: circle;
        }
    }

    ol {
        list-style-type: decimal;
    }

    a {
        text-decoration: underline;
        &.pseudo {
            text-decoration: none;
            border-bottom: 1px dotted;
        }
    }

    td {
        vertical-align: top;
        padding: 10px;
    }

    table[border="1"] td {
        padding: 5px 10px;
        border: 1px solid #000000;
    }

    p.more-link {
        text-align: right;
    }

    p+p.more-link, ol+p.more-link, ul+p.more-link {
        margin-top: -5px;
    }
    strong, b {
        font-weight: 600;
    }
    i {
        font-style: italic;
    }
}
.message {
    text-align: center;
    font-weight: 400;
    color: #747474;
    font-size: 21px;
    font-family: @ptsansnarrow;
    line-height: 1.1em;
    margin: 10px 0 30px;
}

@-moz-document url-prefix() {
    .content{
        padding: 0 1px;
    }
}
@media (max-width: @screen-xs-max) {
    .content {
        padding-left: 15px;
        padding-right: 15px;
    }
}

