// ------ VARS --------
// -------- IMAGES ----
@images: "/i";
// -------- COLORS ----

@color-link: #393939;
@color-link-active: #8b028c;
@color-link-visited: #393939;

@color-text: #000000;
@color-title: #3f3f3f;
@color-text-w: #ffffff;

@color-border: #333333;

// -------- BREADCRUMB ----

@breadcrumb-color: @color-link;
@breadcrumb-color-active: @color-link-active;
@breadcrumb-separator: "/";

// -------- FONTS ----

@ptsansnarrow: 'PT Sans Narrow';
.ptsansnarrow{
    font-family: @ptsansnarrow, Arial, Tahoma, sans-serif;
}

@scada: 'Scada';
.scada{
    font-family: @scada, Arial, Tahoma, sans-serif;
}

@oranienbaum: 'Oranienbaum';
.oranienbaum{
    font-family: @oranienbaum, Arial, Tahoma, serif;
}

@proximanova: 'Proxima Nova';
.proximanova{
    font-family: @proximanova, Arial, Tahoma, sans-serif;
}


// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-nm:                  1200px;
@screen-nm-min:              @screen-nm;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-nm-desktop:          @screen-nm-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1600px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-nm-min - 1);
@screen-nm-max:              (@screen-lg-min - 1);

@grid-columns: 12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width: 30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint: @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
@container-tablet:             (720px + @grid-gutter-width);
//** For `@screen-sm-min` and up.
@container-sm:                 @container-tablet;

// Medium screen / desktop
@container-desktop:            (940px + @grid-gutter-width);
//** For `@screen-md-min` and up.
@container-md:                 @container-desktop;

// Large screen / wide desktop
@container-large-desktop:      (1140px + @grid-gutter-width);
//** For `@screen-lg-min` and up.
@container-lg:                 @container-large-desktop;


@pagination-color:                     @color-link-active;
@pagination-bg:                        transperent;
@pagination-border:                    transperent;

@pagination-hover-color:               #747474;
@pagination-hover-bg:                  transperent;
@pagination-hover-border:              transperent;

@pagination-active-color:              #747474;
@pagination-active-bg:                 transperent;
@pagination-active-border:             transperent;

@pagination-disabled-color:            transperent;
@pagination-disabled-bg:               #fff;
@pagination-disabled-border:           #ddd;

@zindex-modal-background:  1040;
@zindex-modal:             1050;

//== Modals
//
//##

//** Padding applied to the modal body
@modal-inner-padding:         15px;
@modal-title-padding:         15px;
@modal-title-line-height:     1em;
@modal-content-bg:                             #fff;
@modal-content-border-color:                   #b1b1b1;
@modal-content-fallback-border-color:          #b1b1b1;

@modal-backdrop-bg:           #000;
@modal-backdrop-opacity:      .2;
@modal-header-border-color:   #e5e5e5;
@modal-footer-border-color:   @modal-header-border-color;
@modal-lg:                    900px;
@modal-md:                    600px;
@modal-sm:                    300px;


//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              #ddd;

//** Text color for `<input>`s
@input-color:                    #999;
//** `<input>` border color
@input-border:                   #ccc;

// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            @border-radius-base;
//** Large `.form-control` border radius
@input-border-radius-large:      @border-radius-base;
//** Small `.form-control` border radius
@input-border-radius-small:      @border-radius-base;

//** Border color for inputs on focus
@input-border-focus:             #66afe9;

//** Placeholder text color
@input-color-placeholder:        #999;

//** Default `.form-control` height
@input-height-base:              32px;
//** Large `.form-control` height
@input-height-large:             40px;
//** Small `.form-control` height
@input-height-small:             24px;

//** `.form-group` margin
@form-group-margin-bottom:       15px;

@legend-color:                   #999;
@legend-border-color:            #e5e5e5;

//** Background color for textual input addons
@input-group-addon-bg:           #eee;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;

//** Disabled cursor for form controls and buttons.
@cursor-disabled:                not-allowed;
