﻿.advantages {
    .clearfix;
    padding: 30px 0;
    &__title {
        text-align: center;
        color: @color-link-active;
    }
    &__block {
        .clearfix;
        padding-top: 20px;
    }
    &__item {
        padding-bottom: 20px;
    }
    /*  */
    &__body{
        max-width: 1000px;
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }

}