.breadcrumb {
    font-size: 14px;
    padding: 5px 0;
    margin-bottom: 10px;
    list-style: none;
    font-family: @ptsansnarrow;
    > li {
        display: inline-block;
        + li:before {
            content: "@{breadcrumb-separator}\00a0";
            padding: 0 1px;
            color: @breadcrumb-color;
        }
    }
    > .active {
        color: @breadcrumb-color-active;
    }
}
