﻿#home_page {
    .courses {
        .content-width;
        margin: 0 auto;
        &__item {
            margin-bottom: 25px;
            position: relative;
        }
        &__item > a {
            text-decoration: none;
            display: block;
        }
        &__item:hover:after {
            content: '';
            position: absolute;
            border: #b1b1b1 1px solid;
            top: -10px;
            bottom: -10px;
            left: 0;
            right: 0;
            z-index: -1;
        }
        &__title {
            text-align: center;
        }
        &__item-content {
            position: absolute;
            display: none;
            background: rgba(255,255,255,.95);
            margin-left: -15px;
            padding: 0 15px 15px;
            z-index: 10;
            color: #000;
            opacity: 0;
            transition: opacity 1s;
        }
        &__item:hover .courses__item-content {
            display: block;
            opacity: 1;
            transition: opacity 1s;
        }
        &__item-time {
/*            bottom: 2px;*/
        }
        &__devider:last-child {
            display: none;
        }
        @media (min-width: @screen-sm-min) {
            &__devider:nth-child(4n+2) {
                display: none;
            }
            &__item:nth-child(8n+5) .courses__item-info,
            &__item:nth-child(8n+7) .courses__item-info {
                float: right;
            }
            &__item:nth-child(8n+5) .courses__item-info:after,
            &__item:nth-child(8n+7) .courses__item-info:after {
                right: auto;
                left: 0;
                border-right: 0;
                border-left: 27px solid #fff;
            }

            &__item:nth-child(8n+5) .courses__item-desc,
            &__item:nth-child(8n+7) .courses__item-desc {
                margin-right: 230px;
                margin-left: 0;
            }
        }
        @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            &__item {
                padding-left: 0;
                padding-right: 15px;
                max-width: 440px;
                margin: 0 auto 25px;
            }
            &__item-info {
                width: 160px;
                color: #fff;
            }
            &__item-level {
                left: 10px;
                right: 10px;
                white-space: nowrap;
            }
            &__item-desc {
                padding: 0 10px;
                margin-left: 180px;
            }
            &__item-time {
                left: 0;
            }
        }
        @media (min-width: @screen-md-min) {
            &__devider {
                max-width: 640px;
            }
            &__devider:nth-child(4n+2) {
                display: none;
            }
            &__item {
                padding-left: 15px;
                padding-right: 15px;
            }
            &__devider:last-child {
                display: block;
                margin: 40px auto 0;
                border-color: #8b028c;
            }
        }
    }
}
body:not(#home_page) .courses {
    &__item {
        width: 100%;
    }
}
.courses {
    padding-top: 30px;
    .content-width;
    padding: 30px 0 0;
    &__devider {
        position: relative;
        height: 1px;
        border-bottom: 2px dashed #b1b1b1;
        clear: both;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    &__title {
        font-weight: 400;
        text-align: left;
        color: #747474;
        font-size: 30px;
        font-family: @ptsansnarrow;
    }
    @media (min-width: @screen-sm-min) {
        &__show-types {
            float: right;
            padding-top: 7px;
        }
        &__show-types-btn {
            display: inline-block;
            width: 22px;
            height: 20px;
            background: url('@{images}/show-type.png') -22px 0 no-repeat;
            margin-left: 5px;
            cursor: pointer;
        }
        &__show-types-btn.m--list {
            background-position: -22px 0;
        }
        &__show-types-btn.m--table {
            background-position: -22px -20px;
        }
        &__show-types-btn.m--list.m--active {
            background-position: 0 0;
        }
        &__show-types-btn.m--table.m--active {
            background-position: 0 -20px;
        }
    }
    &__block {
        .clearfix;
    }
    &__item {
        position: relative;
        margin-bottom: 15px;
    }
    &__item > a {
        text-decoration: none;
        display: block;
    }
    &__item:hover:after {
        content: '';
        position: absolute;
        border: #b1b1b1 1px solid;
        top: -10px;
        bottom: -10px;
        left: -10px;
        right: -10px;
        z-index: -1;
    }
    &__item-button:visited,
    &__item-button {
        position: relative;
        text-decoration: none;
        text-align: center;
        display: block;
        color: #fff;
        font-weight: 700;
        background: #ff9818;
        padding: 10px 25px;
        text-transform: lowercase;
        margin-top: -40px;
        float: right;
        .border-radius(4px);
    }
    &__item-button:hover {
        color: #fff;
        background: @color-link-active;
    }
    &__item-link {
        text-decoration: none;
    }
    &__item-more,
    &__item-more:visited {
        display: block;
        margin-right: 25px;
        float: right;
        font: 700 normal 20px/1em @ptsansnarrow;
        text-transform: lowercase;
        color: @color-link-active;
    }
    &__item-more:hover {
        color: @color-link;
        text-decoration: none;
    }
    &__item-info {
        position: relative;
        overflow: hidden;
        width: 210px;
        height: 180px;
        float: left;
        color: #fff;
    }
    &__item-info.m--nophoto {
        background: #f6b18d;
    }
    &__item-info:after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -27px;
        right: 0;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-right: 27px solid #fff;
    }
    &__item-info-bg {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        top: 90px;
        left: 105px;
        z-index: -1;
        opacity: .6;
        -webkit-transform: translate(-50%,-50%);
           -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
    }
    &__item-address {
        color: @color-link-active;
    }
    &__item-date {
        padding-top: 20px;
        text-align: center;
        font: normal normal 32px/1em @oranienbaum;
        text-transform: lowercase;
        color: #000;
        text-shadow: 0 0 3px white;
    }
    &__item-date span {
        display: block;
        text-align: center;
        font: normal normal 88px/1em @oranienbaum;
        margin-bottom: -15px;
    }
    &__item-recruitment {
        padding-top: 53px;
        text-align: center;
        font: normal normal 32px/1em @oranienbaum;
        text-transform: lowercase;
        color: #000;
        text-shadow: 0 0 3px white;
    }
    &__item-recruitment span {
        display: block;
        text-align: center;
        font: normal normal 32px/1em @oranienbaum;
    }
    &__item-level {
        position: absolute;
        bottom: 0;
        left: 50px;
        right: 50px;
        white-space: nowrap;
        padding: 10px;
        text-align: center;
        font-size: 1.14rem;
        font-weight: 700;
    }
    &__item-level.m--C {
        background: rgba(255,108,0,1);
    }
    &__item-level.m--B {
        background: rgba(137,6,138,1);
    }
    &__item-level.m--A {
        background: rgba(49,191,217,1);
    }
    &__item-desc {
        position: relative;
        min-height: 180px;
    }
    &__item-title {
        font: 700 normal 18px/1.2em @ptsansnarrow;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    &__item-content {
        padding-bottom: 10px;
    }
    &__item-time {
        font: normal normal 14px/1em @ptsansnarrow;
        margin-bottom: 7px;
        padding-left: 40px;
        min-height: 30px;
        background: url('@{images}/clock.png') 0 100% no-repeat;
    }
    &__item-time span {
        padding-bottom: 3px;
        font: normal normal 21px/1em @ptsansnarrow;
        display: block;
        text-transform: lowercase;
    }
    &__item-price {
        font: normal normal 21px/1em @ptsansnarrow;
        padding-left: 40px;
        padding-top: 1px;
        padding-bottom: 1px;
        background: url('@{images}/rub.png') 0 0 no-repeat;
        text-transform: lowercase;
        margin-bottom: 7px;
        .m--discount {
            text-decoration: line-through;
            color: @color-link-active;
        }
    }
    &__item-teacher {
        padding-left: 40px;
        color: #8b028c !important;
        display: block;
        font: normal normal 14px/1.1em @scada;
    }


    &__table {
        margin-top: -20px;
    }
    &__table-title {
        font: normal normal 24px/1.2em @ptsansnarrow;
        padding: 30px 0 20px;
        span {
            font-weight: 700;
        }
    }
    &__table &__item {
        display: table-row;
    }
    &__table &__item:hover:after {
        border: none;
    }
    &__table &__item &__item-header {
        font-weight: 600;
        color: #000 !important;
        text-align: center;
        padding: 0;
        text-transform: none !important;
    }
    &__table &__item-info {
        display: table-cell;
        vertical-align: top;
        min-width: 90px;
        width: 90px;
        height: auto;
        float: none;
    }
    &__table &__item-info:after {
        display: none;
    }
    &__table &__item-info-bg {
        display: none;
    }
    &__table &__item-date {
        padding-top: 0;
        text-align: left;
        font: normal normal 18px/1em @oranienbaum;
        text-transform: lowercase;
        color: #000;
        text-shadow: 0 0 3px white;
    }
    &__table &__item-desc {
        position: relative;
        height: auto;
        margin-left: 0;
        display: table-cell;
        vertical-align: top;
        width: 80%;
    }
    &__table &__item-content {
        margin-right: 220px;
    }
    &__table &__item-more {
        display: none;
    }
    &__table &__item-block {
        float: right;
        width: 200px;
    }
    &__table &__item-price {
        font: normal normal 18px/1em @ptsansnarrow;
        padding-left: 20px;
        padding-top: 0;
        text-transform: lowercase;
        margin-bottom: 0;
        display: table-cell;
        vertical-align: top;
        background: none;
        width: 140px;
        min-width: 140px;
        text-align: right;
    }
    &__table &__item-teacher {
        padding-left: 20px;
        color: #8b028c !important;
        display: block;
        font: normal normal 18px/1em @ptsansnarrow;
        display: table-cell;
        vertical-align: top;
        width: 140px;
        min-width: 140px;
    }
    &__table &__item-time {
        font: normal normal 18px/1em @ptsansnarrow;
        margin-bottom: 0;
        padding-left: 20px;
        min-height: auto;
        background: none;
        display: table-cell;
        vertical-align: top;
        width: 100px;
        min-width: 100px;
        text-transform: uppercase;
    }
    &__table &__item-button:visited,
    &__table &__item-button {
        position: relative;
        text-decoration: none;
        margin-top: 10px;
    }
    &__table &__item-header {
        font: normal normal 16px/1em @scada;
    }

    @media (min-width: @screen-md-min) and (max-width: @screen-nm-max) {
        &__table &__item-info {
            min-width: 80px;
        }
        &__table &__item-date {
            font: normal normal 14px/1em @oranienbaum;
        }
        &__table &__item-title {
            font: 700 normal 14px/1.1em @ptsansnarrow;
        }
        &__table &__item-price {
            font: normal normal 14px/1em @ptsansnarrow;
        }
        &__table &__item-teacher {
            font: normal normal 14px/1em @ptsansnarrow;
            padding-left: 10px;
            min-width: 110px;
        }
        &__table &__item-time {
            font: normal normal 14px/1em @ptsansnarrow;
            padding-left: 10px;
            min-width: 90px;
        }
        &__table &__item-header {
            font: normal normal 14px/1em @scada;
        }
    }
    @media (max-width: @screen-xs-max) {
        & {
            padding: 10px 0 0;
        }
        &__item {
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto 25px;
            float: none;
        }
        &__item-title {
            font: 700 normal 16px/1.1em @ptsansnarrow;
        }
        &__item-info {
            width: 130px;
            color: #000;
        }
        &__item-info:after {
            display: none;
        }
        &__item-info-bg {
            /*display: none;*/
        }
        &__item-level {
            left: 0;
            right: 0;
            white-space: nowrap;
        }
        &__item-desc {
            padding: 0;
            margin-left: 145px;
        }
        &__item-time {
            left: 0;
            font: normal normal 13px/1em @ptsansnarrow;
            background: url('@{images}/clock.png') 0 100% no-repeat;
        }
        &__item-time span {
            font: normal normal 16px/1em @ptsansnarrow;
        }
        &__item-price {
            left: 0;
            font: normal normal 16px/1em @ptsansnarrow;
        }
        &__item-address {
            font-size: 13px;
        }
        &__item-content {
            position: absolute;
            display: none;
            background: rgba(255,255,255,.95);
            margin-left: -15px;
            padding: 0 15px 15px;
            z-index: 10;
            color: #000;
            opacity: 0;
            transition: opacity 1s;
        }
/*
        &__item:hover .courses__item-content {
            display: block;
            opacity: 1;
            transition: opacity 1s;
        }
*/
        &__item-button:visited,
        &__item-button {
            padding: 6px 15px;
            margin-top: -20px;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        &__item {
            padding-left: 0;
            padding-right: 0;
        }
        &__item-content {
            position: absolute;
            display: none;
            background: rgba(255,255,255,.95);
            margin-left: -15px;
            padding: 0 15px 15px;
            z-index: 10;
            color: #000;
            opacity: 0;
            transition: opacity 1s;
        }
        &__item:hover .courses__item-content {
            display: block;
            opacity: 1;
            transition: opacity 1s;
        }
        &__item-info {
            width: 210px;
            color: #fff;
        }
        &__item-level {
            left: 50px;
            right: 50px;
            white-space: nowrap;
        }
        &__item-desc {
            padding: 0 15px;
            margin-left: 230px;
        }
    }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        &__item-time {
            /*display: none;*/
        }
    }
    @media (min-width: @screen-md-min) {
        &__item {
            padding-left: 0;
            padding-right: 0;
        }
        &__item-info {
            width: 210px;
            color: #fff;
        }
        &__item-level {
            left: 50px;
            right: 50px;
            white-space: nowrap;
        }
        &__item-desc {
            padding: 0 15px;
            margin-left: 230px;
        }
    }
}
#prod_group .courses {
    &__item-info-bg {
        opacity: 1;
    }
}