
.courselist {
	.clearfix;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	display:flex;
	justify-content: space-around; 
	max-width: 1300px;
	width: 100%;
	position: relative;
	
	&__button{
		height: 110px;
		background-color: #ffffff;
		text-align: center;
		min-width: 370px;
		margin-top: 20px;
		
		&.m--orange {
			border: 2px solid #ff6c00;
		background-color: #ffffff;
		}
		&.m--purple{
		border: 2px solid #88068a;
		background-color: #ffffff;
		}
		&.m--turquoise{
			border: 2px solid #31bfd9;
			background-color: #ffffff;
		}
	}
	&__button-ins{
		position: relative;
		display: block;
		text-align: center;
		padding: 0;
		width: 180px;
		height: 53px;
		display: inline-block; 
		line-height: 1.2;
		&.m--button-a{
			font-size: 22px;
			font-weight: 700;
			color: @color-text;
			font-family: @proximanova;
			text-decoration: none;
	    	}
	    	a:link{
				text-decoration:none; 
				}
				
			a:hover{
			    text-decoration: underline;
				} 
	}
	&__shape{
		width: 42px;
		height: 14px;
		margin: 10px auto;
	}
}
 .semi{
	 opacity: 0.4;
}

@media (max-width: 730px){
	.courselist{
		display: none;
	}
}

@media (max-width: 1080px){    								
  .courselist{

	  	&__button {
			height: 81px;
			background-color: #ffffff;
			text-align: center;
			min-width: 240px;
			margin-top: 20px;
		}

		&__button-ins{
			position: relative;
			display: block;
			text-align: center;
			padding: 0;
			width: 136px;	
			display: inline-block; 
			line-height: 1.2;
			margin-top: -5px;
		
			&.m--button-a{
				font-size: 16px;
				font-weight: 700;
				color: @color-text;
				font-family: @proximanova;
				text-decoration: none;
		    	}
		}
	}
}