﻿.course {
    border-bottom: 2px dashed #b0b0b0;
    padding-bottom: 20px;
    margin-bottom: 10px;
    &__title {
        font-weight: 400;
        text-align: left;
        color: #747474;
        font-size: 23px;
        font-family: @ptsansnarrow;
    }
}
.about {
    .clearfix;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 20px;
    padding-bottom: 10px;
    &__content {
        position: relative;
        padding-top: 10px;
    }
    &__item {
        position: relative;
        padding-top: 95px;
        height: 250px;
        z-index: 1;
    }
/*
    &__item.item-1 {
        background: #fff url('@{images}/course-ico-1.png') 15px 0 no-repeat;
    }
    &__item.item-2 {
        background: #fff url('@{images}/course-ico-2.png') 15px 0 no-repeat;
    }
    &__item.item-3 {
        background: #fff url('@{images}/course-ico-3.png') 15px 0 no-repeat;
    }
*/
    &__item-inner {
        position: absolute;
        top: 95px;
        left: 0;
        right: 0;
        height: 143px;
        overflow: hidden;
        padding: 0 15px 15px;
        background: #fff;
    }
    &__item-inner:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        height: 40px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        border-bottom: 2px dashed #8b028c;
    }
    &__item-inner.m--noborder:after {
        display: none;
    }
    &__item-inner:hover {
        height: auto;
        /*transition: height 1s;*/
    }
    &__item-inner:hover:after {
        display: none;
    }
    @media (max-width: @grid-float-breakpoint-max) {
        &__item-inner {
            position: relative;
            top: 0;
            padding: 0 0 15px;
            height: auto;
            /*transition: height 1s;*/
        }
        &__item-inner:after {
            display: none;
        }
    }
}
.schedules {
    .clearfix;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 20px;
    .course__title {
        padding-left: 15px;
    }
    & .schedule {
        .clearfix;
        &__item {
            position: relative;
            margin-bottom: 10px;
        }
        &__item-button:visited,
        &__item-button {
            text-decoration: none;
            text-align: center;
            display: inline-block;
            color: #fff;
            font-weight: 700;
            background: #ff9818;
            padding: 10px 25px;
            text-transform: lowercase;
            margin-top: 15px;
            .border-radius(4px);
        }
        &__item-button:hover {
            color: #fff;
            background: @color-link-active;
        }
        &__item-info {
            position: relative;
            overflow: hidden;
            width: 50%;
            height: 180px;
            float: left;
            text-align: center;
        }
        &__item-date {
            padding-top: 10px;
            text-align: center;
            font: normal normal 32px/1em @oranienbaum;
            text-transform: lowercase;
            color: #000;
            text-shadow: 0 0 3px white;
        }
        &__item-date span {
            display: block;
            text-align: center;
            font: normal normal 88px/1em @oranienbaum;
            margin-bottom: -15px;
        }
        &__item-recruitment {
            padding-top: 10px;
            text-align: center;
            font: normal normal 32px/1em @oranienbaum;
            text-transform: lowercase;
            color: #000;
            text-shadow: 0 0 3px white;
        }
        &__item-recruitment span {
            display: block;
            text-align: center;
            font: normal normal 32px/1em @oranienbaum;
        }
        &__item-desc {
            position: relative;
            margin-left: 50%;
            padding-left: 5px;
        }
        &__item-title {
            font: 700 normal 18px/1em @ptsansnarrow;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #3f3f3f;
            text-transform: uppercase;
        }
        &__item-time {
            padding-bottom: 5px;
        }
        &__item-price {
            font: 700 normal 18px/1em @ptsansnarrow;
            margin-bottom: 15px;
            padding-left: 30px;
            padding-top: 2px;
            background: url('@{images}/rub.png') -5px 0 no-repeat;
            text-transform: lowercase;
            display: block;
            min-height: 30px;
            .m--discount {
                display: block;
                margin-top: -5px;
                text-decoration: line-through;
                color: @color-link-active;
            }
        }
        &__item-teacher {
            display: block;
            color: @color-link-active;
        }
        &__item-teacher:hover {
            text-decoration: none;
        }
        &__item-address {
            font-size: 14px;
        }
    }
}
.level {
    position: relative;
    max-width: 640px;
    z-index: 10;
    .clearfix;
    &__title {
        text-align: left;
        font: normal normal 20px/1em @ptsansnarrow;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &__item {
        position: relative;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0;
        text-decoration: none !important;
        margin-bottom: 20px;
    }
    &__item.m--C {
        background: rgba(255,108,0,.58);
    }
    &__item.m--B {
        background: rgba(137,6,138,.58);
    }
    &__item.m--A {
        background: rgba(49,191,217,.58);
    }
    &__item-title {
        font: normal normal 23px/1em @ptsansnarrow;
        padding: 10px 10px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        height: 43px;
    }
    &__item-letter {
        position: relative;
        color: #fff;
        padding: 0 10px;
        font: normal normal 48px/45px @oranienbaum;
        height: 48px;
        z-index: 1;
    }

    &__item-time {
        font: normal normal 14px/1em @ptsansnarrow;
        padding-left: 40px;
        background: url('@{images}/clock.png') 0 100% no-repeat;
        display: block;
        margin-bottom: 15px;
        min-height: 30px;
    }
    &__item-time span {
        font: normal normal 21px/1em @ptsansnarrow;
        display: block;
        text-transform: lowercase;
    }
    &__item-price {
        font: normal normal 21px/1em @ptsansnarrow;
        margin-bottom: 15px;
        padding-left: 40px;
        padding-top: 5px;
        background: url('@{images}/rub.png') 0 0 no-repeat;
        text-transform: lowercase;
        display: block;
        min-height: 30px;
    }
}
.results {
    .clearfix;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 20px;
    .course__title {
        padding-left: 15px;
    }
    &__item {
        position: relative;
        height: 155px;
        z-index: 1;
        margin-bottom: 20px;
    }
    &__item-inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 155px;
        overflow: hidden;
        padding: 0 15px 15px;
        background: #fff;
    }
    &__item-inner:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 15px;
        right: 15px;
        height: 40px;
        background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        border-bottom: 2px dashed #8b028c;
    }
    &__item-inner.m--noborder:after {
        display: none;
    }
    &__item-inner:hover {
        height: auto;
        /*transition: height 1s;*/
    }
    &__item-inner:hover:after {
        display: none;
    }
    @media (max-width: @grid-float-breakpoint-max) {
        &__item-inner {
            position: relative;
            top: 0;
            padding: 0 0 15px;
            height: auto;
            /*transition: height 1s;*/
        }
        &__item-inner:after {
            display: none;
        }
    }
}
.programm {
    .clearfix;
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 20px;
    &__title {
        margin-left: 15px;
        height: 80px;
        padding-left: 85px;
        width: 200px;
        padding-top: 12px;
        /*background: url('@{images}/programm-ico.png') 0 0 no-repeat;*/
    }
    &__content {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font: 400 normal 18px/1em;
                padding-bottom: 15px;
                margin: 0;
            }
        }
    }
}
.reviews {
    .clearfix;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px dashed #b0b0b0;
    &__title {
        height: 80px;
        padding-left: 85px;
        padding-top: 12px;
        background: url('@{images}/reviews-ico.png') 0 0 no-repeat;
    }
    &__button:visited,
    &__button {
        text-decoration: none !important;
        text-align: center;
        display: block;
        float: right;
        color: #fff;
        font-weight: 700;
        background: #ff9818;
        padding: 10px 25px;
        text-transform: lowercase;
        margin-top: 15px;
        .border-radius(4px);
    }
    &__button:hover {
        color: #fff;
        background: @color-link-active;
    }
    &__item {
        padding-bottom: 40px;
    }
    &__item-title {
        font: 700 normal 18px/1em @ptsansnarrow;
        text-transform: uppercase;
        color: #3f3f3f;
        padding-bottom: 15px;
    }
    &__item-title span {
        padding-right: 5px;
        color: #747474;
        font-weight: 400;
    }
    &__item-course {
        font: 700 normal 18px/1em @ptsansnarrow;
        color: #3f3f3f;
        padding-bottom: 10px;
    }
    &__item-course a {
        text-decoration: none;
    }
    &__item-content {
    }
}
#reviews_page .reviews {
    &__button {
        margin-top: 0;
    }

}