.detailed{
	display: none;
	width: 58px;
	height: 280px;
	box-shadow: -2px 0 10px -2px rgba(0, 0, 0, 0.5);
	float: right;
    margin-top: -280px;
    text-decoration: none;
    
    	&.m--backgr_C{
		background-image: linear-gradient(180deg, #fad961 0%, #f76b1c 100%);
			}
			&.m--backgr_B{
		background-image: linear-gradient(180deg, #bd0ebe 0%, #88068a 100%);
			}
			&.m--backgr_A{
		background-image: linear-gradient(180deg, #ffffff 0%, #41b1c4 100%);
			}
    	a {
    		text-decoration: none;
    	}
	
	&__text{
		width: 131px;
		height: 14px;
		transform: rotate(-90deg);
		color: @color-text-w;
		font-size: 12px;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
	    text-align: center;
        margin-left: -40px;
        margin-top: 140px;
        font-family: @proximanova; 
       	}
}

.coursesall {
	padding: 0;
	display: block;
	width: 800px;
	margin: 0 auto;
}

.courseblock{
	max-width: 800px;
	height: 280px;
	box-shadow: 0 5px 30px rgba(32, 33, 47, 0.08);
	border-radius: 4px;
	background-color: @color-text-w;
	
		&.m--margin{
			margin-top: 40px;
		}

	&__courses_bgr{
				opacity: 0.2;
				background-size: cover;
				width: 100%;
			    height: 100%;     
			}	
	
	&__jpg {
		float: left;
		width: 320px;
		height: 280px;
		text-decoration: none;
			&.m--backgr_C{
		background-image: linear-gradient(180deg, #fad961 0%, #f76b1c 100%);
			}
			&.m--backgr_B{
		background-image: linear-gradient(180deg, #bd0ebe 0%, #88068a 100%);
			}
			&.m--backgr_A{
		background-image: linear-gradient(180deg, #ffffff 0%, #41b1c4 100%);
			}
	}

	&__dates{
		height: 102px;
		color: @color-text-w;
		font-size: 60px;
		line-height: 45px;
		font-weight: 700;
		font-family: @proximanova;
		margin: 0 auto;
		position: relative;
		display: block;
		text-align: center;
		margin-top: -180px;
			&.m--data {
				font-weight: 100;
				font-family: @proximanova;
				margin: auto;
			}
	}
	&__container {
		width: 460px;
		height: 280px;
		float: left;
		margin-left: 20px;
	}
	&__levels {
		font-family: @proximanova; 
		font-size: 12px;
		font-weight: 700;
		letter-spacing: 2px;
		margin-top: 15px;
	}
	&__text-color{
		&.m--C {
			color: #ff6c00;
			}
		&.m--B {
			color: #88068a;
		}
		&.m--A {
			color: #31bfd9;
		}
	}

	&__shape{
		width: 42px;
		height: 14px;
		margin-top: -16px;
		margin-left: 170px;
		
	}
	&__caption {
		display: block;
		text-decoration: none;
		width: 438px;
		height: 54px;
		color: #20212f;
		font-family: @proximanova;
		font-size: 22px;
		font-weight: 700;
		line-height: 1.2;
		margin-top: 15px;
	}

	&__body {
	
		height: 102px;
		color: @color-text;
		font-family: @proximanova; 
		font-size: 14px;
		font-weight: 400;
		padding: 0 10px 0 0;
		line-height: 1.3;
		overflow: hidden; 
		margin-top: 27px;
	}
	&__line {
		width: 420px;
		height: 0;
		border: 1px solid #20212f;
		opacity: 0.1;
	}
	&__datecost {
		height: 50;
		margin-top: 15px;
		
		&.m--text{
			font-family:  @proximanova;
			font-size: 16px;
			text-transform: uppercase;
			font-weight: 600;
			}
	}
	&__date {
		width: 198px;
		height: 21px;
		font-size: 12px;
		font-family: @proximanova; 
		font-weight: 600;
		float: left;
		
	}
	&__cost {
		height: 22px;
		font-size: 12px;
		font-family:@proximanova; 
		font-weight: 600;
		float: right;
		margin-right: 40px;
	}

	&__button-xs{
		width: 131px;
		height: 67px;
		border-radius: 5px 0 0;
		margin-top: -58px;
		float: right;
		margin-right: 10px;
		padding-top: 25px;
		text-align: center;
	&.m--backgr_C{
	background-image: linear-gradient(180deg, #fad961 0%, #f76b1c 100%);
		}
		&.m--backgr_B{
	background-image: linear-gradient(180deg, #bd0ebe 0%, #88068a 100%);
		}
		&.m--backgr_A{
	background-image: linear-gradient(180deg, #ffffff 0%, #41b1c4 100%);
		}

	}

	&__link {
		&,
		&:visited {
			color: @color-text-w;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			font-family: @proximanova;
			text-decoration: none;
		}
	}
}

.courseblock:hover .detailed{
	display:block;
	z-index: 2002;
}

@media (max-width: 1080px){   
	.coursesall {
		padding: 0;
		display: block;
		width: 680px;
		margin: 0 auto;
	}
	.courseblock{
	max-width: 690px;
	height: 252px;
	box-shadow: 0 5px 30px rgba(32, 33, 47, 0.08);
	border-radius: 4px;
	background-color: #ffffff;
	float: left;
	
		&__levels {
			margin-top: 10px;
			}
		&__jpg {
			float: left;
			width: 260px;
			height: 252px;
				img {
			    max-width: 100%;
			    height: auto;
			    max-height:100%
				}
			}
		&__dates{
			margin-top: -150px;
			}
		&__container {
				width: 400px;
				height: 250px;
				float: left;
				margin-left: 20px;
			}
		&__line {
				width: 380px;
				height: 0;
				border: 1px solid #20212f;
				opacity: 0.1;
				margin: 15px 0 0 0;
			}
		&__datecost {
				width: 470px;
				height: 50;
				margin-top: 10px;
			}
		&__caption {
				width: 380px;
				height: 54px;
				color: #20212f;
				font-family:  @proximanova;
				font-size: 22px;
				font-weight: 700;
				line-height: 1.2;
				margin-top: 10px;
			}
		&__body {
				margin-top: 10px;
				height: 90px;
			}
	}
	.detailed{
	display: none;
	width: 58px;
	height: 253px;
	margin-top: -250px;
	&__text{
		margin-top: 125px;
        }
	}
}

@media (min-width: 690px){
	.courseblock__button-xs{
		display: none;
	}
}
@media (max-width: 690px){
	.coursesall {
		padding: 0;
		display: block;
		width: 335px;
		margin: 0 auto;
	}
	.courseblock{
		width: 335px;
		height: 607px;
		margin: 0 auto;
		display: block;
		margin-top: 40px;
	
		&__dates{
			margin-top: -180px;
		}
		&__line{
			display: none;
		}
		&__jpg {
			margin: 8px 8px 8px;
			width: 320px; 
    		height: 280px; 
		}
		&__container {
			width: 320px;
			height: 460px;
			float: left;
			margin-left: 25px;
			margin-top: -15px;
		}
		&__levels {
			padding: 5px 0 0 0;
		}
		&__caption {
			width: 320px;
			height: 54px;
			padding: 5px 0 0 0;
			line-height: 25px;
		}
		&__body {
			width: 290px;
			height: 145px;
			padding: 35px 0 0 0;
		}
		&__datecost {
			margin-top: 25px;
		}
		&__date {
			font-size: 14px;
			float: left;
			margin-top: 2px;
		}
		&__cost {
			height: 22px;
			font-size: 14px;
			float: left;
			width: 198px;	
		}
	}
	.nontext_xs{
		display: none;
	}
	.courseblock:hover .detailed{
	display: none;
	}
}	

