/* Описание блока */
.example{

    /* Описание элемента блока */
    &__item{

        /* Описание модификатора */
        &.m--modifier{

        }

        /* Описание стейта */
        &.is-loading{

        }
    }
}