﻿.fancybox-wrap-inner {
    background: #fff;
    margin: 0;
    padding: 0;
    & .fancybox-skin {
        margin: 4px !important;
        .box-shadow(none);
        .border-radius(0);
        border: 2px dashed @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
        border: 2px dashed @modal-content-border-color;
        & .fancybox-outer {
        }
        & .fancybox-close {
            position: absolute;
            right: 0;
            top: 0;
            background: #fff;
            text-decoration: none;
            text-align: center;
            width: 20px;
            height: 20px;
        }
        & .fancybox-close:after {
            content: '×';
            position: absolute;
            right: 0;
            top: 0;
            width: 20px;
            height: 20px;
            font: normal normal 20px/20px 'MS Shell Dlg \32';
        }
        & .fancybox-nav {
        }
        & .fancybox-nav span {
            cursor: pointer;
            height: 0;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            visibility: hidden;
            width: 0;
            z-index: 8040;
            border: 20px solid transparent;
            background: none;
            outline: none;
            display: block;
        }
        & .fancybox-nav:hover span {
            visibility: visible;
        }
        & .fancybox-nav span {
            border: 20px solid transparent;
            opacity: .75;
        }
        & .fancybox-nav span:hover {
            opacity: 1;
        }

        & .fancybox-prev span {
            border-right: 20px solid #747474;
            margin-left: -40px;
        }
        & .fancybox-next span {
            border-left: 20px solid #747474;
            margin-right: -40px;
        }
    }
}