.filter {
    text-align: left;
    margin-top: 132px;
    transition: all 1s ease 0s;
    .clearfix;
    &__title {
        position: relative;
        font: normal 700 18px/1em @ptsansnarrow;
        color: @color-link-active;
        text-transform: uppercase;
        padding-bottom: 10px;
        cursor: pointer;
    }
    &__title-arrow {
        display: inline-block;
        width: 0;
        height: 0;
        &.m--open {
            border-bottom: 6px solid transparent;
            border-top: 6px solid @color-link-active;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            vertical-align: bottom;
        }
        &.m--close {
            border-bottom: 6px solid @color-link-active;
            border-top: 6px solid transparent;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            vertical-align: top;
        }
    }
    &__block {
        display: none;
    }
    &__address {
        margin-bottom: 15px;
    }
    &__levels {
        width: 200px;
        margin-bottom: 15px;
    }
    &__time {
        width: 200px;
    }
}
@media (max-width: @screen-nm-max) {
    .filter {
        margin-top: 10px;
        border-bottom: 1px solid @color-link;
        &__address {
            margin-bottom: 15px;
            border-bottom: 1px dotted @color-link;
        }
        &__levels {
            float: left;
            width: 49%;
            min-width: 240px;
        }
        &__time {
            float: left;
            width: 49%;
            min-width: 240px;
        }
    }
}
@media (max-width: @screen-xs-max) {
    .filter {
        &__address {
        }
        &__levels {
            width: 100%;
            border-bottom: 1px dotted @color-link;
        }
        &__time {
            width: 100%;
        }
    }
}
.address {
    &__title {
        font: normal 700 18px/1em @ptsansnarrow;
        color: #393939;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    &__radio {
        font: normal normal 21px/1em @ptsansnarrow;
        color: #000;
        text-transform: lowercase;
        display: inline-block;
        padding: 0 20px 10px 30px;
        min-width: 100px;
        cursor: pointer;
        position: relative;
    }
    &__radio:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        margin-top: -12px;
        left: 0;
        background: url('@{images}/radio.png') 0 0 no-repeat;
    }
    &__radio.m--active:after {
        background: url('@{images}/radio.png') 0 -18px no-repeat;
    }
}
.time {
    &__title {
        font: normal 700 18px/1em @ptsansnarrow;
        color: #393939;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    &__radio {
        font: normal normal 21px/1em @ptsansnarrow;
        color: #000;
        text-transform: lowercase;
        display: inline-block;
        padding: 0 20px 10px 30px;
        min-width: 100px;
        cursor: pointer;
        position: relative;
    }
    &__radio:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        margin-top: -12px;
        left: 0;
        background: url('@{images}/radio.png') 0 0 no-repeat;
    }
    &__radio.m--active:after {
        background: url('@{images}/radio.png') 0 -18px no-repeat;
    }
}
.levels {
    &__title {
        font: normal 700 18px/1em @ptsansnarrow;
        color: #393939;
        text-transform: uppercase;
        padding-bottom: 10px;
        padding-top: 10px;
        margin-bottom: 0;
    }
    & .level__radio {
        font: normal normal 21px/1em @ptsansnarrow;
        color: #000;
        text-transform: lowercase;
        display: inline-block;
        padding: 0 20px 10px 30px;
        min-width: 100px;
        cursor: pointer;
        position: relative;
    }
    & .level__radio:after {
        content: '';
        position: absolute;
        width: 18px;
        height: 18px;
        top: 50%;
        margin-top: -12px;
        left: 0;
        background: url('@{images}/radio.png') 0 0 no-repeat;
    }
    & .level__radio.m--active:after {
        background: url('@{images}/radio.png') 0 -18px no-repeat;
    }
}