
.container_menu {
	position: relative;
 	background-position: 0 80%;
 	background-repeat: no-repeat;
	margin-left: 0px;
	max-height: 755px;
	min-height: 500px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(35deg, rgba(255, 139, 51, 0.8) 0%, rgba(161, 56, 163, 0.8) 42%, rgba(91, 205, 226, 0.8) 100%);
	}
}

.slider{
	position: relative;
    height: 0;
    border: none;

	&__inner{
		padding-top: 75%;
	}

	&__content{
		position: absolute;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    height: 758px;	
        max-width: 1440px;
    	margin: auto;
    }

    @media (max-width: 1440px ) {
    	&__content {
    		margin: 0;
    	}
    }
}

.logo_menu{
	display: block;
    
}
.logo{
	margin-left: 30px;
	position: absolute;
	width: 150px;
	height: 90px;
	display: block;
	margin-top: 20px;

	&__img {
	 	width: 144px;
		height: 88px;
	}
}

.slidertext {
	width: 720px;
	height: 227px;
	margin: 200px 0 0 50px;

	&__line {
		width: 0;
		height: 227px;
		border: 2px solid #ffffff;
		float: left;
	}

	&__schedule {
		width: 160px;
		height: 21px;
		color: @color-text-w;
		font-family: @proximanova; 
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: 2px;
		float: left;
		margin-left: 5px;
		font-weight: 700;
			&.m--buttontext
			 	{
				font-family: @proximanova; 
				font-weight: 700;
				font-size: 16px;
				color: @color-text-w;
				letter-spacing: 2px;
				text-decoration: none;
				text-transform: uppercase;
				float: left;
				}
	
	}

	&__title {
		width: 714px;
/*		height: 109px;*/
		color: @color-text-w;
		font-weight: 800;
		padding-left: 5px;
		float: left;
		font-family: @proximanova; 
	
			&.m--text{
				font-size: 54px;
				line-height: 50px;
				text-transform: none;
				letter-spacing: 0.8px;
	
				}
		}

	&__prev {
		width: 500px;
		height: 88px;
		color: @color-text-w;
		font-family: @proximanova; 
		font-size: 18px;
		font-weight: 600;
		padding-left: 10px;
		float: left;
		line-height: 1.2;
		margin-top: 12px;
	}

	&__bid {
		width: 201px;
		height: 26px;
		color: @color-text-w;
		font-family: @proximanova; 
		font-size: 20px;
		text-transform: uppercase;
		letter-spacing: 2.5px;
		margin-left: 160px;
		font-weight: 600;
		margin-top: -20px;
	
		&.m--buttontext{
			color: @color-text-w;
			font-family: @proximanova; 
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2.5px;
			font-weight: 600;
			text-decoration: none;
			text-transform: uppercase;
			float: left;
		}
	}
}

.course4{
	margin-top: 30px;
	display: block;

	&__text{
		margin: auto;
		text-align: center;
		height: 29px;
		color: @color-text;
		font-family: @proximanova; 
		font-size: 24px;
		font-weight: 700;
		
		&.m--color
			{
			color: #ff6c00;
			}
			a:link{
				text-decoration:none; 
				}
			a:hover{
			    text-decoration: underline;
			    color: @color-text;
				} 
	}
}

 .button_course {
	width: 261px;
	height: 46px;
	border-radius: 4px;
	display: block;
	background-color: #ffffff;
	 color: @color-text-w;
	font-family: @proximanova; 
	font-weight: 700;
	text-decoration: none; 
	margin-left: 65px;
	margin-top: 30px;
	box-sizing: border-box;
	padding: 15px 0 0 80px;
		a:visited {
 				   color: #000;
					}
		&__buttontext{
				font-family: @proximanova; 
				font-size: 16px;
				color: @color-text;
				text-decoration: none;
				font-weight: 700;
			}
		
}

.newcourses_info {
	padding: 0;
	margin: 0;
	display: block;
	margin-top: 20px;
	h1 {
		font-family: @proximanova; 
		color:@color-text;
		font-size: 42px;
		font-weight: 900;
		text-transform: none;
	}
}

@media (max-width: 768px){
	.newcourses_info {
		h1 {
			font-size: 32px;
		}
	}
}

@media (max-width: 620px){
	.newcourses_info {
		h1 {
			font-size: 24px;
		}
	}
}

@media (max-width: 768px){
  	.slidertext{
  		width:510px;
  		
	&__title{
	    width: 459px;
/*		height: 76px;*/
		
			&.m--text{
				font-size: 36px;
				line-height: 36px;
		  	}
		}
  	&__prev{
  		width: 500px;
		height: 80px;
		font-size: 16px;
		margin-top: 10px;
  		}
  	&__line {
		height: 185px;
		}
	&__schedule{
		width: 160px;
		height: 17px;
		font-size: 14px;
		letter-spacing: 1.75px;
		}
	&__bid {
		height: 17px;
		font-size: 14px;
		letter-spacing: 1.75px;
		}
	}

.button_course {
	width: 180px;
	height: 36px;
	margin-left: 65px;
	margin-top: -20px;
	padding: 10px 0 0 50px;
	 
	&__buttontext
		 {
			font-family: @proximanova; 
			font-size: 13px;
			color: @color-text;
			text-decoration: none;
			font-weight: 700;
		}
}

@media (max-width: 768px){
  .menu{
    display: none;
  }
}

@media (max-width: 562px){
	  .slidertext {
		width: 330px;
		height: 300px;
		margin: 150px 0 0 10px;
		
	  	&__line {
	    	display: none;
	  	}
	  	&__schedule{
			width: 160px;
			height: 17px;
			font-size: 16px;
			letter-spacing: 1.75px;
			margin-top: -25px;
		}
		&__bid {
			width: 163px;
			height: 17px;
			font-size: 16px;
			letter-spacing: 1.75px;
		 	margin-top: -25px; 
			float: left; 
			}

	   	&__title{
		    width: 272px;
/*			height: 100px;*/
			
				&.m--text{
					font-size: 32px;
					line-height: 32px;
					text-transform: none;
			  	}
		  	}

	  	&__prev{
		  	width: 345px;
			height: 118px;
			font-size: 16px;
			margin-top: 10px;
	  		}
	  	}

		.button_course {
			width: 345px;
			height: 46px;
			margin-left: 15px;
			margin-top: -20px;
			padding: 15px 0 0 125px;
			
			 &__buttontext
				 {
					font-family: @proximanova; 
					font-size: 13px;
					color: @color-text;
					text-decoration: none;
					font-weight: 700;
				}
		}

		.logo{
			width: 101px;
			height: 62px;
		
				 &__img {
		 		width: 101px;
				height: 62px;
				} 
		}
	}		
}
.js-menu-xs {
	display: none;
}
@media (min-width: 376px){
	.navbar_xs{
		display:none;
	}
}

@media (max-width: 375px){
	.navbar_xs{
		display: block;
		width: 100%;
		height: 97px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
		background-image: linear-gradient(45deg, #ff8b33 0%, #a138a3 42%, #5bcde2 100%);
		opacity: 0.95;
		position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    z-index: 501;

		&__logo{
			width: 60px;
			height: 37px;
			margin-left: 5px;
			margin-top: 5px;
			
			&.m--img{
				width: 60px;
				height: 37px;
				z-index: 121;
				
			}
		}

		&__button{
			float: right;
			margin-top: -65px;
		}

		&__text{
			margin-top: 70px;
			margin-left: 25px;
		}
	}
}