.fixed-banner
  {
    position: fixed; 
    display: table-row; 
    vertical-align: top; 
    bottom: 20px; 
    width: 100%; 
    z-index: 999; 
    display: none;

    &__block
      {
        position: relative;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        width: 840px;
        height: 246px;
        box-shadow: 0 0 20px rgba(0,0,0,1);
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

    &__image
      {
        display: inline-block;
      }

    &__image img
      {
        margin-left: -24px;
        margin-top: -24px;
      }

    @media screen and (max-width: 950px) { 
    &__block{
        width: 688px;
      }
    &__image img {
        margin-left: -100px;
      }
    }
    @media screen and (max-width: 750px) {
      &__block {
        width: 408px;
        }
      &__image img {
            margin-left: -240px;
          }
      }

    &__close
      {
        position: absolute; 
        background: #8b028c; 
        color: #fff; 
        font-size: 17px;  
        right: 0px; 
        top: 0px; 
        padding: 5px 10px 5px 10px; 
        cursor: pointer; 
        border-radius: 5px;
      }
    &__close:hover
      {
        color: #fff;
        font-size: 26px; 
        right: -3px; 
        top: -3px; 
        padding: 7px 10px 7px 10px;
      }
}




