﻿#home_page {
    .footer {
        position: relative;
        min-height: 1005px;
        background: url('@{images}/bg-footer.jpg') 50% 0 no-repeat;
    }
}
.footer {
    position: relative;
    padding-bottom: 56px;
    z-index: 20;
    &__cup {
        position: absolute;
        display: block;
        top: 45px;
        height: 140px;
        font: normal normal 1.57rem/1em @oranienbaum;
        padding-left: 200px;
        background: url('@{images}/cup.png') 0 50% no-repeat;
    }
    &__cup:after {
        content: '';
        position: absolute;
        left: 50%;
        margin-left: -27px;
        bottom: -59px;
        width: 54px;
        height: 27px;
        background: url('@{images}/footer-arrow.png') 0 0 no-repeat;
    }
    &__cup-desc {
        position: absolute;
        display: block;
        top: 50%;
        left: 200px;
        right: 0;
        padding-bottom: 10px;
        -webkit-transform: translate(0,-50%);
           -moz-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
    }
    @media (max-width: @screen-xs-max) {
        &__cup {
            top: 25px;
            left: 50%;
            margin-left: -150px;
            width: 300px;
            background-position: 50% 0;
            background-size: 96px 96px;
            padding: 0;
        }
        &__cup:after {
            bottom: -78px;
        }
        &__cup-desc {
            left: 0;
            top: 145px;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__cup {
            left: 50%;
            margin-left: -200px;
            width: 460px;
        }
    }
    @media (min-width: @screen-lg-min) {
        &__cup {
            left: 50%;
            margin-left: -460px;
            width: 460px;
        }
    }
    &__info {
        position: absolute;
        display: block;
        top: 285px;
        height: 140px;
        font: normal normal 1.57rem/1em @oranienbaum;
        padding-left: 200px;
        border: 2px dashed #fff;
        padding: 7px;
    }
    &__info-desc {
        position: relative;
        background: #fff;
        padding: 10px;
        height: 122px;
        text-align: center;
    }
    &__info-desc-txt {
        position: absolute;
        display: block;
        top: 50%;
        left: 20px;
        right: 20px;
        -webkit-transform: translate(0,-50%);
           -moz-transform: translate(0,-50%);
            -ms-transform: translate(0,-50%);
                transform: translate(0,-50%);
    }
    @media (max-width: @screen-xs-max) {
        &__info {
            left: 50%;
            margin-left: 0;
            max-width: 640px;
            min-width: 300px;
            width: 90%;
            -webkit-transform: translate(-50%,0);
               -moz-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                    transform: translate(-50%,0);
        }
    }
    @media (min-width: @screen-sm-min) {
        &__info {
            left: 50%;
            margin-left: -208px;
            width: 580px;
        }
    }
    @media (min-width: @screen-lg-min) {
        &__info {
            left: 50%;
            margin-left: -468px;
            width: 600px;
        }
    }
    &__map {
        position: relative;
    }
    &__map-title {
        position: relative;
        z-index: 10;
        text-transform: none;
        .content-width;
    }
    &__map-code {
        position: relative;
        height: 450px;
        margin-top: 30px;
    }
    @media (max-width: @screen-xs-max) {
        &__map {
            padding-top: 460px;
        }
        &__map-title {
            text-align: center;
        }
        &__map-code {
            margin-top: -35px;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__map {
            padding-top: 920px;
        }
    }
    @media (min-width: @screen-lg-min) {
        &__map {
            padding-top: 920px;
        }
    }
    &__map-contacts {
        position: absolute;
        top: 25px;
        width: 350px;
        background: rgba(137,6,138,.41);
        color: #fff;
        padding: 20px 50px;
    }
    &__map-contacts a {
        color: #fff;
    }
    &__map-phones {
        font: normal normal 1.71rem/1.1em @oranienbaum;
        padding-bottom: 5px;
    }
    @media (max-width: @screen-xs-max) {
        &__map-contacts {
            top: 55px;
            width: auto;
            left: 15px;
            right: 15px;
            padding: 20px 20px;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__map-contacts {
            left: 15px;
            margin-left: 0;
        }
    }
    @media (min-width: @screen-lg-min) {
        &__map-contacts {
            left: 50%;
            margin-left: -500px;
        }
    }

    &__line {
        .clearfix;
        position: absolute;
        background: #fff;
        padding: 10px 15px;
        font-size: .9rem;
        bottom: 0;
        left: 0;
        right: 0;
    }
    &__banners {
        position: relative;
    }
    &__banner {
        display: inline-block;
        vertical-align: middle;
    }
    &__developer {
        text-align: right;
    }
    &__developer-link {
        text-decoration: none;
    }
    &__developer-link span {
        vertical-align: middle;
    }
    &__developer-logo {
        vertical-align: middle;
    }
}
@media (max-width: @screen-xs-max) {
    .footer {
        background: url('@{images}/bg-footer-xs.jpg') 50% 0 no-repeat;
    }
}