.gallery {
    .clearfix;
    height: 200px;
    margin: 20px 0;
    padding: 0 30px;
    overflow: hidden;
    &__block {
    }
    &__item {
        float: left;
        overflow: hidden;
    }
    &__item-link {
        display: block;
        padding: 0;
        height: 200px;
        width: 210px;
        &:hover {
            opacity: .7;
        }
    }
    &__item-picture {
        height: 100%;
        width: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
    }
}
