﻿#home_page .header {
    position: relative;
    height: 655px;
    background: url('@{images}/bg-header.jpg') 50% 0 no-repeat;
    background-size: cover;
    max-width: 100%;
    padding: 0;
    margin: 0;
    z-index: 5;
    &__block {
        background: rgba(255,255,255,.95);
        max-width: none;
    }
    &__logo {
        position: absolute;
        width: 287px;
        height: 175px;
    }
    &__navbar {
        height: 96px;
    }
    &__navbar > .container-fluid {
        max-width: 1010px;
    }
    &__navbar-sub {
        top: 20px;   /* 38px */
        left: 0;
        background: none;
        /*border: 2px dashed #fafafa;*/

    }
    @media (max-width: 920px){
        &__navbar-sub {
        margin: 20px;
        }
    }

    &__navbar-sub-inner {
        padding: 20px;
        margin: 0;
        /*background: rgba(250,250,250,.95);*/
    }
    body:not(.is--mobile) &__navbar-item.is--dropdown:hover .header__navbar-sub,
    body:not(.is--mobile) &__navbar-item.is--dropdown:hover .header__navbar-link:after {
        display: block;
    }
    &__navbar-item.is--dropdown .header__navbar-link:after {
        /*border-bottom: 20px solid #fafafa;*/
        bottom: 0;
    }
    @media (max-width: @screen-xs-max) {
        &__logo {
            top: 90px;
            left: 50%;
            margin-left: -143px;
            display: block;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__logo {
            position: absolute;
            top: 210px;
            left: 50%;
            margin-left: -143px;
        }
    }
    @media (min-width: @screen-lg-min) {
        &__logo {
            position: absolute;
            top: 200px;
            left: 50%;
            margin-left: -143px;
        }
    }

    &__navbar {
        margin-left: 0;
        text-align: center;
        z-index: 20;
    }
    &__navbar-link,
    &__navbar-link:visited {
        font: normal normal 27px/1em @oranienbaum;
    }

        /* new  menu */
        
    &__navbar-links,
    &__navbar-links:visited {
        color: #ffffff;
        font: 18px/1em @proximanova; 
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;   
        white-space: nowrap;
    }

    @media (max-width: 920px){ /* @screen-sm  */
      
        &__navbar-links,
        &__navbar-links:visited {
            color: #000;
            
        }
    }
        /* new  menu  end*/

    @media (max-width: @grid-float-breakpoint-max) {
        &__adv-navbar {
            font: normal normal 1.33rem/1em @ptsansnarrow;
            width: 250px;
            position: fixed;
            top: 13px;
            left: auto;
            right: 15px;
            z-index: 30;
        }
        &__adv-navbar-stud {
            display: none;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        &__adv-navbar {
            left: 45% !important;
        }
    }
    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
        &__adv-navbar {
            font: normal normal 1.34rem/1em @oranienbaum;
            position: absolute;
            top: 335px;
            width: 120px;
            left: 50%;
            margin-left: 270px;
        }
        &__adv-navbar-link {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;

            padding: 5px 15px;
            height: 55px;
            text-decoration: none;
            background: @color-link-active;
            border: 1px solid #fff;
            color: #fff;
        }
        &__adv-navbar-link.m--top {
            top: 70px;
            left: 0;

            padding: 13px 15px;
            text-transform: none;
            background: #fff;
            border: 1px solid @color-link-active;
            color: @color-link-active;
        }
        &__adv-navbar-stud {
            top: -30px;
            left: 78px;
        }
    }
    @media (min-width: @screen-nm-min) {
        &__adv-navbar {
            position: absolute;
            top: 140px;
            left: 50%;
            margin-left: -143px;
        }
        &__adv-navbar-stud {
            top: -11px;
            left: -63px;
        }
    }

    @media (max-width: @screen-xs-max) {
        & {
            position: relative;
            height: 270px;
            background: none;
        }
    }
}
.header {
    position: fixed;
    left:0;
    right: 0;
    height: 115px;
    line-height: 0;
    font-size: 0;
    z-index: 10;
    background: rgba(255,255,255,.95);
    &__block {
        .content-width;
        position: relative;
    }
    &__logo {
        position: absolute;
        width: 174px;
        height: 102px;
    }
    @media (max-width: @screen-xs-max) {
        padding: 0;
        &__logo {
            top: 60px;
            left: 50%;
            margin-left: -87px;
            display: block;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__logo {
        }
    }
    @media (min-width: @screen-lg-min) {
        &__logo {
        }
    }
    &__navbar {
        margin-left: 180px;
        position: relative;
        height: 60px;
        text-align: right;
        z-index: 10;
    }
    &__navbar-collapse {
        padding-top: 20px;
    }
    &__navbar-nav {
        position: relative;
        z-index: 20;
        list-style: none;
        padding: 13px 0 0;
        margin: 0 auto;
        max-width: 980px;
        display: block;
        /*height: 96px;*/
        .justify-block;
    }

                                 /* new  menu  */
&__navbar-nav2 {
        position: relative;
        z-index: 2002;
        list-style: none;
        /* padding: 13px 0 0; */
        margin: 0 auto;
        max-width: 1200px;
        display: block;
        /*height: 96px;*/
        /* margin-left: 200px; */
        margin-top: 30px;
        margin-right: 30px;
        padding-left: 180px;

        .justify-block; 
    }
                             /* new  menu  end*/
                        
    &__navbar-nav:after {
        .justify-block-after;
    }

/*
    &__navbar-nav:after {
        content: '';
        display: inline-block;
        height: 96px;
        width: 1px;
        vertical-align: middle;
    }
*/
    &__navbar-item {
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        position: relative;
    }
    &__navbar-item:first-child {
        padding-left: 0;
    }
    &__navbar-item:last-child {
        padding-right: 0;
    }

    &__navbar-item.is--dropdown .is--arrow {
        position: absolute;
        top: 5px;
        right: 0;
        width: 32px;
        height: 32px;
        cursor: pointer;
        display: none;
    }
    &__navbar-item.is--dropdown &__navbar-link:after {
        content:'';
        display: none;  
        position: absolute;
        left: 50%;
        margin-left: -15px;
        bottom: -5px;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 20px solid #f6f6f6;
        opacity: .95;
        z-index: 10;
    }
    &__navbar-link,
    &__navbar-link:visited {
        position: relative;
        display: block;
        padding: 0 0 20px;
        color: @color-link;
        text-decoration: none;
        text-align: center;
        font: normal normal 24px/1em @oranienbaum;
        text-transform: uppercase;
    }
    &__navbar-link:hover,
    &__navbar-link.m--active {
        color: #9a9a9a;
        text-decoration: none;
    }
    body:not(.is--mobile) &__navbar-item.is--dropdown:hover &__navbar-sub,
    body:not(.is--mobile) &__navbar-item.is--dropdown:hover &__navbar-link:after {
        display: block;
    }
    &__navbar-sub {
        position: absolute;
        display: none;
        padding: 7px;
        top: 40px;
        left: 0;
        background: rgba(255,255,255,.95);
        border: 2px dashed #f0f0f0;
        white-space: nowrap;
    }

    &__navbar-sub-inner {
        padding: 20px;
        margin: 0;
        background: rgba(245,245,245,.95);
    }
    &__navbar-subitem {
        text-align: left;
        text-align-last: left;
        font: normal normal 1.2rem/1em @ptsansnarrow;
        margin-bottom: 10px;
    }
    &__navbar-subitem.m--active a {
        text-decoration: none;
        color: @color-link-active;
    }
    &__navbar-sublink {
    }
    &__adv-navbar {
        width: 287px;
        font: normal normal 1.43rem/1em @ptsansnarrow;
        text-transform: lowercase;
        padding-right: 8px;
        font-weight: 700;
        letter-spacing: 1px;
        .justify-block;
    }
    &__adv-navbar:after {
        .justify-block-after;
    }
    &__adv-navbar-link {
        display: inline-block;
        padding: 2px;
    }
    &__adv-navbar-link:hover {
        text-decoration: none;
    }
    &__adv-navbar-link.m--active {
        color: @color-link-active;
        text-decoration: none;
    }
    &__adv-navbar-link.m--color {
        color: @color-link-active;
    }
    &__adv-navbar-stud {
        position: absolute;
        width: 43px;
        height: 42px;
        background: url('@{images}/stud.png') no-repeat;
    }
    &__adv-navbar {
        position: absolute;
        top: 85px;
        right: 38px;
        z-index: 10;
    }
    &__adv-navbar-stud {
        bottom: 3px;
        right: -23px;
    }
    &__social {
        position: relative;
        z-index: 10;
        text-align: left;
    }
    &__social-link {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-position: 0 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    &__social-link.m--vk {
        background-image: url('/i/social/vk.png');
    }
    &__social-link.m--fb {
        background-image: url('/i/social/fb.png');
    }
    &__social-link.m--ig {
        background-image: url('/i/social/ig.png');
    }

    @media (max-width: 920px){

        &__social-link.m--vk {
            margin-top: 20px;
        }
    }





    #home_page &__social {
        top: 60px;
        left: 0;
        width: 200px;
    }
    @media (max-width: @grid-float-breakpoint-max) {
        &__social {
            position: absolute;
            left: 20px;
            top: 48px;
        }
        #home_page &__social {
            position: absolute;
            left: 20px;
        }
    }
    #home_page &__social-link {
        width: 30px;
        height: 30px;
    }
    &__navbar-toggle {
        position: relative;
        z-index: 30;
        float: left;
        margin-left: 0;
        padding: 9px 5px;
        height: 60px;
        background-color: transparent;
        background-image: none;
        /*border: 1px solid #fff;*/
        border: none;

        &:focus {
            outline: 0;
        }
        .icon-bar {
            display: block;
            width: 22px;
            height: 3px;
            background: @color-link-active;
        }
        .icon-bar + .icon-bar {
            margin-top: 4px;
        }
        @media (min-width: 920px) {  /* @grid-float-breakpoint */
        display: none;
        }
    }

            /* new menu */

&__navbar-toggle2 {
        position: relative;
        z-index: 30;
        float: right;
        margin-left: 0;
        padding: 9px 20px;
        height: 60px;
        background-color: transparent;
        background-image: none;
        /*border: 1px solid #fff;*/
        border: none;
        margin-top: 20px;

        &:focus {
            outline: 0;
        }
        .icon-bar {
            display: block;
            width: 22px;
            height: 3px;
            background: #ffffff; ; /* @color-link-active */
        }
        .icon-bar + .icon-bar {
            margin-top: 4px;
        }
        @media (min-width: 920px) { /* @grid-float-breakpoint */
        display: none;
        }
    }
            /* new menu end */
            
    @media (max-width: 920px) { /* @grid-float-breakpoint-max    ----------------------------------------------------------------  */ 
        z-index: 10 !important;
        &__navbar {
            margin-left: 0;
            height: 72px;
            background: #fff;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        &__navbar-collapse {
            display: none;
        }
        &__navbar-collapse.in {
            position: relative;
            z-index: 20;
            display: block;
            /* margin: 0 -15px; */
        }
        &__navbar-collapse.in &__navbar-item.is--dropdown &__navbar-sub {
            position: relative !important;
            top: 0 !important;
        }
        &__navbar-collapse.in &__navbar-item.is--dropdown:hover &__navbar-link:after {
            display: none !important;
        }
        &__navbar-nav {
            border-top: 1px solid @color-link-active;
            padding: 10px 15px;
            display: block;
            height: auto;
            text-align: left;
            position: static;
            clear: both;
            background: #fff;
        }
                                                /* new menu */
        &__navbar-nav2 {
          /*   border-top: 1px solid @color-link-active; */
            padding: 20px;
            display: block;
            height: auto;
            text-align: left;
            position: static;
            clear: both;
            background: #fff;
            position: fixed;
            width: 100%;
            margin-top: 75px;
        }
                                                /* new menu  end*/


        &__navbar-item {
            display: block;
            text-align: left;
            padding: 10px 0;
            text-align-last: left;
        }

        &__navbar-link {
            text-align: left;
            text-align-last: left;
            padding: 0 0 5px;
        }
        &__adv-navbar {
            font: normal normal 1.33rem/1em @ptsansnarrow;
            width: 250px;
            position: fixed;
            top: 13px;
            left: auto;
            right: 15px;
            z-index: 20;
        }
        &__adv-navbar-stud {
            display: none;
        }
        &__navbar-item.is--dropdown .is--arrow.m--down {
            display: block;
        }
        &__navbar-item.is--dropdown .is--arrow.m--down:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -1px;
            left: 1px;
            border-bottom: 15px solid transparent;
            border-top: 15px solid #9a9a9a;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
        &__navbar-item.is--dropdown .is--arrow.m--up:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            top: -15px;
            left: 1px;
            border-bottom: 15px solid #9a9a9a;
            border-top: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
        }
    }
    @media (max-width: @screen-xs-max) {
        & {
            position: relative;
            height: 160px;
            background: none;
        }
    }
}
.is--mobile {

}


                    /*  new menu 
@media (max-width: 950px){
    .header__navbar-item{
    display: none;
    }


}  */
