﻿.left {
    position: absolute;
    top: 115px;
    &__menu {
        background: #e8e8e8;
        padding: 15px 20px 0;
        margin-bottom: 30px;
        .clearfix;
    }
    &__menu-inner {
        width: 240px;
        float: right;
    }
    &__menu-title {
        text-align: left;
        color: #747474;
        font: normal normal 23px/1em @ptsansnarrow;
        text-transform: uppercase;
    }
    &__menu-block {
        padding-top: 20px;
        .clearfix;
    }
    &__menu-item {
        margin-bottom: 20px;
        .clearfix;
    }
    &__menu-item-link,
    &__menu-item-link:visited {
        display: block;
        font: normal normal 18px/1em @ptsansnarrow;
        color: #380e82;
        text-decoration: none;
        .clearfix;
    }
    &__menu-item.m--active &__menu-item-link,
    &__menu-item:hover &__menu-item-link {
        color: @color-link-active;
    }
    &__menu-item-pic {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 65px;
        margin-right: 15px;
        overflow: hidden;
        vertical-align: middle;
        .border-radius(50%);
        img {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    &__menu-item-pic.is-nophoto {
        background: #e0e0e0;
    }
    &__menu-item-title {
        position: relative;
        display: inline-block;
        width: calc(~"100% - 90px");
        vertical-align: middle;
    }
    &__banners {
        padding: 0 20px 20px;
        .clearfix;
    }
    &__banner {
        float: right;
        .clearfix;
    }
    &__contacts {
        width: 1000px;
        background: rgba(137,6,138,.41);
        color: #fff;
        padding: 20px 20px;
        .clearfix;
    }
    &__contacts-inner {
        width: 240px;
        float: right;
    }
    &__contacts a {
        color: #fff;
    }
    &__phones {
        font: normal normal 1.71rem/1.1em @oranienbaum;
        padding-bottom: 5px;
    }

}
@media (max-width: @screen-sm-max) {
    .left {
        position: relative;
        margin: 10px auto;
        right: none;
        top: 0;
        &__menu-inner {
            width: auto;
            float: none;
            padding-bottom: 10px;
        }
        &__contacts-inner {
            width: auto;
            float: none;
        }
    }
}
@media (min-width: @screen-md-min) {
    .left {
        right: 50%;
        margin-right: 22%;
    }
}
@media (min-width: @screen-lg-min) {
    .left {
        right: 50%;
        margin-right: 520px;
    }
}
