﻿#home_page .levels {
    &__title {
        text-align: center;
    }
}
.levels {
    position: relative;
    max-width: 640px;
    z-index: 10;
    &__title {
        text-align: left;
        font: normal normal 20px/1em @ptsansnarrow;
        text-transform: lowercase;
        margin-bottom: 10px;
    }
    &__block {
        position: relative;
        padding: 7px;
        .clearfix;
    }
    &__block-level {
        padding: 0;
        position: unset;
    }
    &__item {
        position: relative;
        display: block;
        text-align: center;
        text-decoration: none;
        padding: 0;
        text-decoration: none !important;
        cursor: pointer;
    }
    &__block-level:nth-child(1) &__item {
        background: rgba(255,108,0,.58);
        border-right: 1px solid #b1b1b1;
    }
    &__block-level:nth-child(2) &__item {
        background: rgba(137,6,138,.58);
        border-right: 1px solid #b1b1b1;
    }
    &__block-level:nth-child(3) &__item {
        background: rgba(49,191,217,.58);
    }
    &__item-title {
        font: normal normal 23px/1em @ptsansnarrow;
        padding: 20px 10px;
        font-weight: 700;
        text-transform: uppercase;
        background: #fff;
        height: 60px;
    }
    &__item-letter {
        position: relative;
        color: #fff;
        padding: 14px 10px;
        font: normal normal 48px/1em @oranienbaum;
        height: 76px;
        z-index: 1;
    }
    &__item-letter:after {
        content: '';
        position: absolute;
        background: #fff;
        top: 7px;
        bottom: 7px;
        left: 7px;
        right: 7px;
        z-index: -1;
        display: none;
    }
    &__block-level:nth-child(1):hover &__item &__item-letter,
    &__block-level:nth-child(1):hover &__item &__item-title,
    &__item[aria-expanded=true]:nth-child(1) &__item-letter {
        color: rgba(255,108,0,.58);
    }
    &__block-level:nth-child(2):hover &__item &__item-letter,
    &__block-level:nth-child(2):hover &__item &__item-title,
    &__item[aria-expanded=true]:nth-child(2) &__item-letter {
        color: rgba(137,6,138,.58);
    }
    &__block-level:nth-child(3):hover &__item &__item-letter,
    &__block-level:nth-child(3):hover &__item &__item-title,
    &__item[aria-expanded=true]:nth-child(3) &__item-letter {
        color: rgba(49,191,217,.58);
    }
    &__item.m--active &__item-title {
        background: none;
        color: #fff !important;
    }
    &__block-level:hover &__item &__item-letter:after,
    &__item[aria-expanded=true] &__item-letter:after {
        display: block;
    }
    &__block-level &__dropbox {
        position: absolute;
        top: 136px;
        left: 0;
        right: 0;
        background: #fff;
        padding: 20px 30px;
        font-size: 0;
        display: none;
        z-index: 10;
        .box-shadow(0 5px 5px rgba(0,0,0,.5));
    }
    &__dropbox:after {
        content: '';
        position: absolute;
        top: -5px;
        right: -22px;
        width: 43px;
        height: 180px;
        background: url('@{images}/ribbon-r.png') 0 0 no-repeat;
    }
    body:not(.is--mobile) &__block-level:hover &__dropbox {
        display: block !important;
    }
    @media (max-width: @screen-xs-max) {
        &__item-title {
            font: normal normal 20px/1em @ptsansnarrow;
            padding: 10px 10px;
            height: auto !important;
            color: #fff !important;
        }
        &__item-letter {
            padding: 5px 10px;
            font: normal normal 36px/1em @oranienbaum;
            height: auto;
            z-index: 1;
        }
        &__block-level &__dropbox {
            position: relative;
            top: auto;
        }
        &__dropbox:nth-child(3) {
            top: 165px;
        }
        &__dropbox:nth-child(4) {
            top: 291px;
        }
        &__dropbox:nth-child(5) {
            top: 417px;
        }
        &__dropbox-item {
            padding: 10px 0 10px 10px !important;
        }
        &__dropbox-item-title {
            margin-left: 0 !important;
        }
    }
    @media (min-width: @screen-sm-min) {
        &__dropbox {
            top: 169px;
        }
    }
    @media (min-width: @screen-md-min) {
    }
    &__dropbox-item {
        position: relative;
        padding: 10px 0 10px 140px;
        margin-bottom: 10px;
        overflow: hidden;
        .clearfix;
    }
    &__dropbox-item:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -240px;
        width: 480px;
        border-bottom: 1px dashed #b1b1b1;
    }
    &__dropbox-item:last-child:after {
        display: none;
    }
    &__dropbox-item-title {
        color: @color-link-active;
        padding-bottom: 10px;
        font: normal normal 25px/1em @oranienbaum;
        margin-left: -140px;
        text-decoration: none;
    }
    &__dropbox-item-link {
        display: inline-block;
        font: 700 normal 16px/1em @ptsansnarrow;
        letter-spacing: 1px;
        vertical-align: top;
        padding: 0 10px 20px 0;
        float: none;
    }
}
@media (max-width: @screen-xs-max) {
    .levels {
        margin: 0 auto;
        &__block {
            border: 2px dashed #b1b1b1;
        }
        &__item {
            border-right-width: 0 !important;
        }
        &__item-title {
            background: none;
            color: #fff;
            padding-bottom: 0 !important;
            height: 50px;
        }
    }
}
@media (min-width: @screen-sm-min) {
    #home_page .levels {
        margin: -190px auto 0;
        &__block {
            border: 2px dashed #b1b1b1;
            border-bottom-width: 0;
        }
    }
    .levels {
        margin: 0;
        &__block {
            border: 2px dashed #b1b1b1;
        }
    }
}
@media (min-width: @screen-lg-min) {
    #home_page .levels {
        margin: -245px auto 61px;
        &__block {
            border: 2px dashed #b1b1b1;
        }
    }
}
