// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal-open {
    overflow: hidden;
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    &.fade &__dialog {
        .translate(0, -25%);
        .transition-transform(~"0.3s ease-out");
    }
    &.in &__dialog { .translate(0, 0) }
    &__dialog {
        position: relative;
        width: auto;
        margin: 10px;
        background-color: @modal-content-bg;
        padding: 4px;
    }
    &__content {
        position: relative;
        border: 2px dashed @modal-content-fallback-border-color; //old browsers fallback (ie8 etc)
        border: 2px dashed @modal-content-border-color;
        // .border-radius(4px);
        // .box-shadow(0 3px 9px rgba(0,0,0,.5));
        background-clip: padding-box;
        outline: 0;
    }
    &__header {
      padding: @modal-title-padding;
      // border-bottom: 1px solid @modal-header-border-color;
      // min-height: (@modal-title-padding + @modal-title-line-height);
    }
    &__header .close {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        padding: 0;
    }
    &__title {
        font-weight: 400;
        text-align: left;
        color: #747474;
        font-size: 23px;
        font-family: @ptsansnarrow;
    }
    &__body {
        position: relative;
        padding: @modal-inner-padding;
    }
}

// Modal background
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal-background;
    background-color: @modal-backdrop-bg;
    // Fade for backdrop
    &.fade {
        .opacity(0);
    }
    &.in {
        .opacity(@modal-backdrop-opacity);
    }
}

// Footer (for actions)
.modal-footer {
  padding: @modal-inner-padding;
  text-align: right; // right align buttons
  border-top: 1px solid @modal-footer-border-color;
  &:extend(.clearfix all); // clear it in case folks use .pull-* classes on buttons

  // Properly space out buttons
  .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
  }
  // but override that for button groups
  .btn-group .btn + .btn {
    margin-left: -1px;
  }
  // and override it for block buttons as well
  .btn-block + .btn-block {
    margin-left: 0;
  }
}

// Measure scrollbar width for padding body during modal show/hide
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: @screen-sm-min) {
  .modal__dialog {
    width: @modal-md;
    margin: 30px auto;
  }
  .modal__content {
    // .box-shadow(0 5px 15px rgba(0,0,0,.5));
  }
  .modal-sm { width: @modal-sm; }
}

@media (min-width: @screen-md-min) {
    .modal-lg { width: @modal-lg; }
}

.transition-transform(@transition) {
  -webkit-transition: -webkit-transform @transition;
     -moz-transition: -moz-transform @transition;
       -o-transition: -o-transform @transition;
          transition: transform @transition;
}