﻿.newses {
    padding-top: 30px;
    .content-width;
    padding: 30px 0 0;
    &__devider {
        position: relative;
        height: 1px;
        border-bottom: 2px dashed #b1b1b1;
        clear: both;
        max-width: 100%;
        margin: 0 auto 20px;
    }
    &__title {
        font-weight: 400;
        text-align: left;
        color: #747474;
        font-size: 30px;
        font-family: @ptsansnarrow;
    }
    &__block {
        .clearfix;
    }
    &__item {
        position: relative;
        margin-bottom: 15px;
    }
    &__item > a {
        text-decoration: none;
        display: block;
    }
    &__item-link {
        text-decoration: none;
    }
    &__item-gallery {
        position: relative;
        overflow: hidden;
        width: 40%;
        float: left;
        margin-bottom: 20px;
    }
    @media (max-width: @screen-xs-max) {
        &__item-gallery {
            width: 100%;
            float: none;
        }
    }
    &__item-gallery-big {
    }
    &__item-gallery-item {
        height: 250px !important;
        padding: 3px;
        overflow: hidden;
        img  {
            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
    &__item-desc {
        margin-left: 40%;
        padding-left: 20px;
        position: relative;
        min-height: 180px;
    }
    @media (max-width: @screen-xs-max) {
        &__item-desc {
            margin-left: 0;
            padding-left: 0;
        }
    }
    &__item-title {
        font: 700 normal 18px/1.2em @ptsansnarrow;
        padding-bottom: 10px;
        text-transform: uppercase;
    }
    &__item-content {
        padding-bottom: 10px;
    }
    &__item-date {
        font: 400 normal 18px/1em @ptsansnarrow;
        text-transform: uppercase;
        color: #3f3f3f;
        padding-bottom: 10px;
        color: #747474;
    }
}
