@border-radius-base: 0;
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  font: normal normal 23px/1em @ptsansnarrow;
  .border-radius(@border-radius-base);

  > li {
    display: inline;
    > a,
    > span {
      position: relative;
      float: left;
      padding: 5px 7px;
      line-height: 1em;
      text-decoration: none;
      color: @pagination-color;
      background-color: @pagination-bg;
      border: 1px solid @pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
      }
    }
    &:last-child {
      > a,
      > span {
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      z-index: 3;
      color: @pagination-hover-color;
      background-color: @pagination-hover-bg;
      border-color: @pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: @pagination-active-color;
      background-color: @pagination-active-bg;
      border-color: @pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: @pagination-disabled-color;
      background-color: @pagination-disabled-bg;
      border-color: @pagination-disabled-border;
      cursor: default;
    }
  }
}