﻿.persons {
    &__item {
        text-align: center;
        margin: 0 auto 40px;
    }
    &__link {
    }
    &__photo {
        width: 120px;
        height: 120px;
        background: #f0f0f0;
        margin: 0 auto;
        overflow: hidden;
        .border-radius(50%);
        img {
            height: 100%;
            width: 100%;
            max-height: 100%;
            max-width: 100%;
            object-fit: cover;
        }
    }
    &__photo.s-nophoto {
        background: #f0f0f0 url('/i/no-photo.png') 0 0 no-repeat;
        background-size: cover;
    }
    &__name {
        padding: 10px 0 0;
        min-height: 50px;
    }
    &__activity {
        padding: 5px 0 0;
        min-height: 50px;
        font-size: .9em;
        height: 63px;
        overflow: hidden;
    }
}