﻿.programs {
    &__item {
        margin-bottom: 40px;
        .clearfix;
    }
    &__item-link {
        text-decoration: none;
    }
    &__item-title {
        font-weight: 400;
        text-align: left;
        color: #747474;
        font-size: 23px;
        font-family: @ptsansnarrow;
        text-decoration: none;
    }
    &__item-link:hover &__item-title {
        color: #393939;
    }
    &__item-picture {
        width: 210px;
        float: left;
    }
    &__item-picture.m--nophoto {
        height: 180px;
        background: #f6b18d;
    }
    &__item-annotation {
        padding: 0 0 10px;
        /*margin-left: 230px;*/
    }
    &__item-more,
    &__item-more:visited {
        display: block;
        float: right;
        font: 700 normal 20px/1em @ptsansnarrow;
        text-transform: lowercase;
        color: @color-link-active;
    }
    &__item-more:hover {
        color: @color-link;
        text-decoration: none;
    }
    @media (max-width: @grid-float-breakpoint-max) {
        &__item-picture {
            display: none;
        }
        &__item-annotation {
            margin-left: 0;
        }
    }
}