﻿.right {
    position: absolute;
    top: 115px;
    overflow: hidden;
    right: 0;
    &__block {
        text-align: center;
    }
    &__banner {
        display: inline-block;
        vertical-align: top;
    }
    &__banner img {
        max-width: 100%;
        height: auto;
    }
}
@media (max-width: @screen-xs-max) {
    .right {
        .filters {
            display: none;
        }
    }
}
@media (max-width: @screen-sm-max) {
    .right {
        position: relative;
        margin: 10px auto;
        left: none;
    }
}
@media (min-width: @screen-md-min) {
    .right {
        position: relative;
        margin: 0 auto;
        left: auto;
        top: 0;
        height: 250px;
        padding-left: 30%;
        padding-right: 15px;
        max-width: 1000px;
        &__banner {
            width: 49%;
        }
    }
}
@media (min-width: @screen-nm-min) {
    .right {
        height: 250px;
        padding-left: 20%;
        padding-right: 15px;
    }
}
@media (min-width: @screen-lg-min) {
    .right {
        top: 115px;
        position: absolute;
        left: 50%;
        margin-left: 520px;
        max-width: 455px;
        height: auto;
        padding: 0;
        &__banner {
            width: 100%;
        }
    }
}
